---
version: '3'

services:
  watchtower:
    image: containrrr/watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - "{{ volumes_root }}/watchtower/config.json:/config.json"
    command: --interval 900 #15 minutes
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.watchtower.loadbalancer.server.scheme=http"
      - "traefik.http.services.watchtower.loadbalancer.server.port=0"
      - "traefik.http.routers.watchtower-http.rule=Host(`{% if watchtower.domain %}{{ watchtower.domain }}{% else %}{{ watchtower.subdomain + "." + domain }}{% endif %}`)"
      - "traefik.http.routers.watchtower-http.entrypoints=http"
{% if not watchtower.https_only %}
      - "traefik.http.routers.watchtower-http.middlewares={% if watchtower.https_only %}redirect@file, {% else %}{% if watchtower.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
{% else %}
      - "traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https"
      - "traefik.http.routers.watchtower-http.middlewares=redirect-to-https"
{% endif %}
      - "traefik.http.routers.watchtower.rule=Host(`{% if watchtower.domain %}{{ watchtower.domain }}{% else %}{{ watchtower.subdomain + "." + domain }}{% endif %}`)"
      - "traefik.http.routers.watchtower.entrypoints=https"
      - "traefik.http.routers.watchtower.middlewares={% if watchtower.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
      - "traefik.http.routers.watchtower.tls=true"
