---
version: '3'

# This networks section required for the pacakge to be visible to Traefik. 
# DO NOT Remove
networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  app:
    # REQUIRED
    image: 
    restart: unless-stopped
    networks:
      - traefik_network
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.PackageFileName.loadbalancer.server.scheme=http"
      - "traefik.http.services.PackageFileName.loadbalancer.server.port=3000"
      - "traefik.http.routers.PackageFileName-http.rule=Host(`{% if PackageFileName.domain %}{{ PackageFileName.domain }}{% else %}{{ PackageFileName.subdomain + "." + domain }}{% endif %}`)"
      - "traefik.http.routers.PackageFileName-http.entrypoints=http"
{% if not PackageFileName.https_only %}
      - "traefik.http.routers.PackageFileName-http.middlewares={% if PackageFileName.https_only %}redirect@file, {% else %}{% if PackageFileName.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
{% else %}
      - "traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https"
      - "traefik.http.routers.PackageFileName-http.middlewares=redirect-to-https"
{% endif %}
      - "traefik.http.routers.PackageFileName.rule=Host(`{% if PackageFileName.domain %}{{ PackageFileName.domain }}{% else %}{{ PackageFileName.subdomain + "." + domain }}{% endif %}`)"
      - "traefik.http.routers.PackageFileName.entrypoints=https"
      - "traefik.http.routers.PackageFileName.middlewares={% if PackageFileName.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
      - "traefik.http.routers.PackageFileName.tls=true"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.PackageFileName.tls.certresolver=dns"
      - "traefik.http.routers.PackageFileName.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.PackageFileName.tls.domains[0].sans=*.{{ domain }}"
{% else %}
      - "traefik.http.routers.PackageFileName.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
      - "traefik.http.routers.PackageFileName-tor-http.rule=Host(`{{ PackageFileName.subdomain }}.{{ tor_domain }}`)"
      - "traefik.http.routers.PackageFileName-tor-http.entrypoints=http"
      - "traefik.http.routers.PackageFileName-tor-http.middlewares={% if PackageFileName.auth %}{% if authelia.enable %}authelia-tor@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab-tor@file"
{% endif %}
    # OPTIONAL 
    #links: 
    #  - inventario_db
    #environment:
    #  - MYSQL_DATABASE=package_name
    #  - MYSQL_TEST_DATABASE=package_name
    #  - MYSQL_USER=package_name
    # The next line demonstrates how to generate a random, secure password and store it locally in the settings
    # folder so that your service password doesn't change on every deploy.
    #  - MYSQL_PASSWORD={{"lookup('password', './settings/passwords/package_name_db_password chars=digits')"}}
